  .delete{
    text-decoration: none;
    
  }
  
  .container{
    padding: 30px;
  }
  
  form{
    margin: 30px;
   
  }

  body{
    background-color: lightblue;
  }
  
  div{
    margin-bottom: 10px;
  }
  
  label{
    display: inline-block;
    width:100px;
    font-family: monospace;
  }
  
  h3{
    font-family: monospace;
  }

